* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #333;
	font-family: "Roboto", sans-serif;
}

header {
	position: relative;
	background-image: url(img/home_1920.jpg);
	background-size: cover;
}

.wrapper {
	position: relative;
	padding: 1rem;
}

.cover-image {
	background-image: linear-gradient(rgba(26, 40, 120, 0.7), rgba(10, 143, 196, 0.7));
}

h1,
h2 {
	padding: 1.5rem 0;
	text-align: center;
	color: #fff;
}

a {
	position: relative;
	display: inline-block;
	left: 50%;
	transform: translateX(-50%);
	padding: 20px 30px;
	background-color: #fff;
	text-decoration: none;
	font-weight: bold;
	font-size: 16px;
	color: #00aed9;
	border: none;
	border-radius: 30px;
	cursor: pointer;
	transition: font-size 0.7s;
}
a:hover {
	font-size: 18px;
	padding: 20px;
}
