* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	font-size: 16px;
}

body {
	background-color: #333;
	font-family: "Roboto", sans-serif;
	overflow-wrap: normal;
}

header {
	position: relative;
	height: 100vh;
	background-image: url(img/home_1920.jpg);
	background-size: cover;
}

.cover-image {
	background-image: linear-gradient(rgba(26, 40, 120, 0.7), rgba(10, 143, 196, 0.7));
	height: 100%;
}

.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 3rem;
	padding: 1rem;
	text-align: center;
}

header h2 {
	font-size: 0.9rem;
}

.text--white {
	color: #fff;
}

a {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	width: fit-content;
	margin-top: 40px;
	padding: 20px;
	background-color: #fff;
	text-decoration: none;
	font-weight: bold;
	color: #00aed9;
	border: none;
	border-radius: 30px;
	cursor: pointer;
	transition: font-size 0.7s;
}
a:hover {
	font-size: 18px;
}

/* Strona Ikony!  ------------------------------- */

.benefits {
	min-height: 100vh;
	background-color: #fff;
}

/* span => .feather  */
.feather {
	margin: 20px 40px;
	padding: 5px;
	width: 70px;
	height: 70px;
	stroke: #00aed9;
	stroke-width: 1;
	stroke-linecap: round;
	stroke-linejoin: round;
	fill: none;
	border: 3px solid #00aed9;
	border-radius: 20px;
}

.card__text {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}
